<app-header></app-header>
<div class="container mt-5">
    <table class="table table-bordered table-hover table-striped table-dark  ">
        
            <thead>
                <tr>
                    <th>IDNO</th>
                    <th>NAME</th>
                    <th>LNAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{userData.user_id}}</td>
                    <td>{{userData.user_fname}}</td>
                    <td>{{userData.user_lname}}</td>
                    <td>{{userData.user_email}}</td>
                    <td>{{userData.user_phone}}</td>
                    
                </tr>
            </tbody>
         </table>
    

</div>
<app-footer></app-footer>